<!DOCTYPE html>
<html lang="en">

<head>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="jquery.js"></script> -->
    <script type="text/javascript" src="script.js"></script>
    <meta charset="UTF-8">
</head>
<body>
    <header>
    </header>
    <main>
        <div >
            <h2>New Employee</h2>
            <p>Enter new employee information:</p>
            <form id="form" >
                <input name="name" id="firstName" type="text" placeholder="Enter employee first name"/> <br />
                <input name="last" id="lastName" type="text" placeholder="Enter employee last name"/> <br />
                <input name="id" id="email" type="text" placeholder="Enter employee email address"/> <br /><br />
                <input id="submitForm"  type="submit" value="Submit Employee Info"/>
            </form>
            <br/>
        </div>
    </main>
    <footer>
    </footer>
</body>
</html>